

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#slider {
    padding-bottom: 30px;
    border-bottom: 2px solid #333;
    overflow: hidden;
}

/*.aspect-radio-169{
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
}

.aspect-radio-169 img{
    display: block;
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
}

.dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
}

.dot{
    height: 18px;
    width:18px;
    background-color: #6abc27;
    border-radius: 50%;
    margin-right: 3px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}
*/
/*-----------------------app-------------------------------*/
.app-container{
    margin-top: 30px;
    display: grid;
    justify-content: center;
}

.app-container > p {
    font-weight: bold;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.app-images {
    position: relative;
    left: 47px;
}

.app-images > img{
    width: 190px;
    height: 110px;
}

.app-text{
    margin-left: 100px;
}

.app-text >p {
    margin-right: 8px;
    font-weight: bold;
}

.app-text > input{
    margin-top: 15px;
    width: 300px;
    position: relative;
    right: 28px;
    height: 30px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #333;
    text-align: center;
    outline: #5bb3df;
}
/*------------------------footer--------------------*/
footer{
    text-align: center;
}

.footer-top {
    display : flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}

.footer-top img{
    height: 50px;
}

.footer-top li{
    padding: 0 12px;
    position: relative;
}

.footer-top li::after{
    content:"";
    display: block;
    width:1px;
    height: 20px;
    background: #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-top li:last-child::after {
    display:none;
}

.footer-top li:last-child a{
    margin-right: 12px;
    color: #333;
}

/*-------Sản phâm-----
.row {
    display: flex;
    flex-wrap: auto
}

.cartegory{
    padding: 100px 0 0;
}

.cartegory-top{
    margin-bottom: 50px;
    left:60px;
    position:relative;
}

.cartegory-top p{
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}

.cartegory-left {
    position: relative;
    left: 60px;
    width:20%;
}

.cartegory-right {
    width: 80%;
}

.cartegory-right-top-item:first-child{
    flex:2;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.cartegory-right-top-item {
    flex: 1;
    padding: 0 12px;
}

.cartegory-right-top-item button{
    width:100%;
    padding: 10px 15px;
    display:flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.cartegory-right-top-item select{
    width:100%;
    padding: 10px 15px;
    display:flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.cartegory-right-content{
    margin-top: 20px;
    justify-content: space-between;
}

.cartegory-right-content-item {
    width: calc(25%-12px);
    text-align: center;
    padding: 12px 0;
}

.cartegory-right-content-item h1{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px;
    color:#333333;
}

.cartegory-right-content-item img{
    width: 300px;
    height: 300px;
}

.cartegory-right-content-item p {
    font-size: 12px;
}

.cartegory-right-bottom {
    justify-content: space-between;
    margin: 30px 0 20px;
    width:100%;
}

.cartegory-right-bottom p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.cartegory-left ul li{
    padding:12px 0;
}

.cartegory ul li>a{
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.cartegory-left-li ul li ul li{
    padding-left: 10px;
}

.cartegory-left-li ul{
    display: none;
}

.cartegory-left-li.block ul{
    display: block;
}

.cartegory-left-li ul li a{
    color: #a28f8f;
    font-size: 12px;
}
*/
/*---------------------SAN PHAM-------------*/
.product {
    padding: 100px 0;
}

.product-top{
    margin-bottom: 30px;
}

.product-top p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 12px;
    font-size: 12px;
}

.product-content-left {
    width:50%
}

.product-content-right {
    width:50%;
}

.product-content-left-big-img {
    width: 80%;
    padding-right: 20px;
}

.product-content-left-big-img img {
    width:100%;
}

.product-content-left-small-img {
    width:20%;
}

.product-content-left-small-img img {
    width:100%;
    cursor:pointer;
}

.product-content-right {
    width:50%;
    padding-left:20px;
}

.product-content-right-product-name h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.product-content-right-product-name p {
    color: #cccccc;
    font-size: 12px;
}

.product-content-right-product-price {
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.product-content-right-product-color img {
    width:30px;
    height:30px;
    border-radius: 50%;
}

.product-content-right-product-color-img {
    height: 40px;
    width:40px;
    border: 1 solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.size span{
    display: inline-block;
    padding: 3px 6px;
    border:1px solid #dddddd;
    margin: 12px 10px 12px 0;
    font-size: 12px;
    cursor:pointer;
}

.quantity {
    display: flex;
    margin-bottom: 20px;
}

.quantity input{
    width: 35px;
    padding-left: 3px;
}

.product-content-right-product-button input {
    width:150px;
    height: 40px;
    display: block;
    margin: 20px 0 12px;
    transition: all 0.3s ease;
}

.product-content-right-product-button input:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffff;
    border: 2px solid black;
    cursor: pointer;
}

.product-content-right-product-button input:first-child:hover {
    background-color: black;
    color: #ffff;
}

.product-content-right-product-button input:last-child {
    border: 2px solid #BF8A49;
    color: #BF8A49;
    background-color:  #ffff;
    cursor:pointer;
}

.product-content-right-product-icon {
    display : flex;
}

.product-content-right-product-icon-item {
    display: flex;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
}

.product-content-right-product-icon-item i{
    font-size: 12px;
    margin-right: 6px;
}

.product-content-right-product-QR {
    margin:20px 0;
}

.product-content-right-product-QR img{
    width: 120px;
    height:120px;
}

.product-content-right-bottom {
    padding-top: 40px;
    border-top: 1 solid #dddddd;
    position: relative;
}

.product-content-right-bottom-top {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: -15px;
    left: 50px;
    border-radius: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.product-content-right-bottom-content-title {
    border-bottom: 2px solid #dddddd;
}

.product-content-right-bottom-content-title-item {
    padding: 6px;
    cursor: pointer;
    margin-right: 6px;;
}

.product-content-right-bottom-content-title-item p {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
}

.product-content-right-bottom-content {
    padding-top: 30px;
}

.product-content-right-bottom-content-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12ps;
}

.product-content-right-bottom-content-baoquan {
    display: none;
}

.activeB{
    display: none;
}

/*-----product-related--*/
.product-related {
    margin-bottom: 50px;
}

.margin-related-title {
    margin:20px 0;
}

.product-related-title p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}

.product-related-item {
    width: 20%;
    text-align: center;
    padding: 0 6px;
}

.product-related-item img {
    width: 120px;
    height: 120px;
}

.product-related-item h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #333333;
    margin-top: 6px;
}

.product-related-item p{
    font-size: 12px;

}

/*----------------CART---------*/
.cart {
    padding:100px 0;
}

.cart-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-top {
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}

.cart-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display :flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.cart-top-item i {
    color: #dddddd;
}

.cart-top-cart {
    border: 1px solid #0DB7EA;
}

.cart-top-cart i{
    color: #0DB7EA;
}

.cart-content-left {
    flex: 2;
    padding-right: 12px;
}

.cart-content-left table {
    width: 100%;
    text-align: center;
}

.cart-content-left table th {
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    border-collapse: collapse;
    border-bottom:2px solid #dddddd;
}

.cart-content-left table p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:#333;
} 

.cart-content-left table input{ 
    width: 30px;
}

.imgspcl {
    width: 30px;
    height:30px;
}

.cart-content-left table td {
    padding: 20px 0;
    border-bottom: 2px solid #dddddd;
}

.cart-content-left td:first-child img{
    width: 130px;
}

.cart-content-left td:nth-child(2){
    max-width: 130px;
}

.cart-content-left td:nth-child(3) img {
    width:30px;
}

.cart-content-right {
    flex:1;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
}

.cart-content-right table {
    width: 100%;
}

.cart-content-right table th {
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:#333;
    border-collapse: collapse;
    border-bottom:2px solid #dddddd;
}

.cart-content-right table td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:#333;
    padding: 6px 0;   
}

.cart-content-right tr:nth-child(4) td{
    border-bottom: 2px solid #dddddd;
}

.cart-content-right tr td:last-child{
    text-align: right;
}

.cart-content-right-text {
    margin: 20px 0;
    text-align: center;
}

.cart-content-right-text p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:#333;
}

.cart-content-right-button {
    text-align: center;
    align-items: center;
}

.cart-content-right-button input {  
    padding: 0 18px;
    height: 35px;
    cursor: pointer;
}

.cart-content-right-button input:first-child {
    background-color: #fff;
    border: 1px solid black;
    margin-right: 20px;
}

.cart-content-right-button input:first-child:hover {
    background-color: #ddd;
}

.cart-content-right-button input:last-child {
    background-color: black;
    color: #fff;
    border: none;
    border: 1px solid black;
}

.cart-content-right-button input:last-child:hover {
    background-color: #dddddd;
    color:black;
}

.cart-content-right-dangnhap {
    margin-top: 20px;
}

.cart-content-right-dangnhap p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    /*font-weight:bold;*/
}
/*----------------------Đzt hàng-----------------------*/
.delivery{
    padding: 100px 0;
}

.delivery-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery-top {
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}

.delivery-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display :flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.delivery-top-item i {
    color: #dddddd;
}

.delivery-top-adress {
    border: 1px solid #0DB7EA;
}

.delivery-top-adress i{
    color: #0DB7EA;
}

.container{
    justify-content: center;
}

.containerp{
    position: relative;
    right: 450px;
}

.delivery-content{
    position:relative;
    left : 450px;
}

.delivery-content-left {
    width:60%;
    padding-right: 12px;
}

.delivery-content-left p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.delivery-content-left label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-bottom: 6px;
    display: block;
}

.delivery-content-left > p{
    font-weight: bold;
}

.delivery-content-left-thanhtoan {
    margin-top: 12px;
}

.delivery-content-left-input-top {
    border-top: 120px;
    justify-content: space-between;
}

.delivery-content-left-input-bottom input{
    width: 100%;
    height: 35px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}

.delivery-content-left-button{
    position: relative;
    left: 450px;
}

.delivery-content-left-button p {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.delivery-content-left-button span{
    margin-right: 12px;
}

.delivery-content-left-button  {
    justify-content: space-between;
    padding-top:20px;
}

.delivery-content-left-button button{
    position: relative;
    right:668px;
    height: 35px;
    border: 2px solid black;
    padding: 6px 12px;
    cursor: pointer;
    transform: all 0.3s ease ;
}

.delivery-content-left-button button:hover{
    background-color: black;
    color: #fff;
}

.delivery-content-left-button input{
    position: relative;
    right:668px;
    height: 35px;
    border: 2px solid black;
    padding: 6px 12px;
    cursor: pointer;
    transform: all 0.3s ease ;
}

.delivery-content-left-button input:hover{
    background-color: black;
    color: #fff;
}

.delivery-content-right {
    width: 40%;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
    height: auto;
}

.delivery-content-right table{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

.delivery-content-right table tr th:first-child{
    text-align: left;
}

.delivery-content-right table tr th  {
    padding-bottom:12px;
    border-bottom: 2px solid #dddddd;

}

.delivery-content-right table tr th:last-child{
    text-align: right;

}

.delivery-content-right table tr td {
    padding: 6px 0;
}

.delivery-content-right table tr:nth-child(4){
    border-top: 2px solid #dddddd;
}

.delivery-content-right table tr td:last-child {
    text-align: right;
}

.delivery-content-right table tr td:first-child {
    text-align: left;
}

/*---------------Payment-----------------------*/
.payment {
    padding: 100px 0;
}

.payment-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}


.payment-top {
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}

.payment-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display :flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.payment-top-item i {
    color: #dddddd;
}

.payment-top-payment {
    border: 1px solid #0DB7EA;
}

.payment-top-payment i{
    color: #0DB7EA;
}

.payment-content-left {
    width: 60%;
}

.payment-content-right {
    width: 40%;
    border-left: 2px solid #ddd;
    padding-left: 12px;   
}

.payment-content-left p,label {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.payment-content-right-button{
    display: flex;
    padding: 12px 0;
    border-bottom: 1px dashed #dddddd;
}

.payment-content-right-button input {
    height: 30px;
    width: 200px;
    margin-right: 100px;
    padding-left: 12px;
}

.payment-content-right-button button {
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.payment-content-right-mnv {
    margin-top: 20px;
}

.payment-content-right-mnv select {
    height: 30px;
    width: 100%;
    color: #75758A;
    padding-left: 12px;
}

.payment-content-right-payment {
    margin-top: 50px;
    align-items: center;
    text-align: center;
}

.payment-content-right-payment button{
    height: 35px;
    padding: 0 20px;
    font-size: 12px;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid black;
}

.payment-content-right-payment button:hover {
    background-color: black;
    color: #fff;
}

.payment-content-left-method-payment-item-img img{
    width: 30px;
    height: 30px;
}

